* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-signup {
    padding: 2rem 0;
}

.aj-title {
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title-input {
    margin: 1rem 0;
}

.button-signup button, .button-google button {
    border-radius: .5rem;
    padding: .5rem;
}

.button-signup button {
    background-color: black;
    color: white;
}

.button-google button {
    background-color: whitesmoke;
    color: black;
}

.line {
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.line::before,
.line::after {
    content: "";
    display: inline-block;
    width: 30%;
    border-top: 1px solid black;
    margin: 0 5px;
}
